// color
$color_key: #fff;

// bg color;
$bgColor_default: #080808;

// border color;
$borderColor_default: rgba(#fff, 0.05);

// text color;
$textColor_default: #fff;
$textColor_gray: rgba($textColor_default, 0.5);

// font family;
$fontFamily_default: "Neue Frutiger", "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, "Noto Sans Japanese", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

// font size;
$fontSize: 1.4rem;
$fontSize_small: 1.2rem;
$fontSize_h1: $fontSize * 1.6;
$fontSize_h2: $fontSize * 1.5;
$fontSize_h3: $fontSize * 1.4;
$fontSize_h4: $fontSize * 1.3;
$fontSize_h5: $fontSize * 1.2;
$fontSize_h6: $fontSize * 1.1;

// line height;
$lineHeight_title: 1.4;
$lineHeight_content: 1.8;

// letter spacing;
$letterSpacing: 0.055em;

// transition;
$duration_glitch: 200ms;

// margin
$margin_page: 30px;
$margin_page_sp: 15px;
$margin_post: 15px;
$margin_post_sp: 10px;

// width
$max_page_width: 1600px;

// media query;
$mq_pcXLarge:    "only screen and (max-width: 1599px)";
$mq_pcLarge:     "only screen and (max-width: 1399px)";
$mq_pc:          "only screen and (max-width: 1199px)";
$mq_tabletLarge: "only screen and (max-width: 979px)";
$mq_tablet:      "only screen and (max-width: 899px)";
$mq_tabletSmall: "only screen and (max-width: 759px)";
$mq_spLarge:     "only screen and (max-width: 639px)";
$mq_sp:          "only screen and (max-width: 399px)";
$mq_spSmall:     "only screen and (max-width: 349px)";
$mq_retina:      "only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 1.5/1), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx)";
